*.cache
*.exe
*.pdb
*.exe.config
Debug/
*.ide-wal
*.ide-shm
*.ide
*.lock
*.suo
*.csproj
Server/.vs/Server/v15/.suo
Server/.vs/Server/xs/UserPrefs.xml
Micro/ServerEcho_Wpf/.vs/ServerSocketWpfApp/xs/UserPrefs.xml
