*.cache
*.exe
*.pdb
*.exe.config
Debug/
*.ide-wal
*.ide-shm
*.ide
*.lock
*.suo
*.sln
Server/.vs/Server/v15/.suo
Server/.vs/Server/xs/UserPrefs.xml
Server/.vs/Server/v14/.suo
Micro/ServerEcho_Wpf/.vs/ServerSocketWpfApp/xs/UserPrefs.xml
*.ipch
Server/Server.VC.db
sh.exe.stackdump
Server/packages/*
**/obj/**
**/bin/*
Server/.vs/Panopticon/v15/Browse.VC.opendb
Server/.vs/Panopticon/v15/Browse.VC.db
Server/.vs/Panopticon/v15/Browse.VC.db
